# Probability

In [47]:

import numpy as np
import math

## Challenge 1
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball on first extraction and a black ball out on second extraction without replacing the first one.
* Taking a white ball on first extraction and a black ball out on second extraction replacing the first one.
* Taking 3 balls and them being all different colours.

In [50]:
white_balls = 10
black_balls = 8
red_balls = 12
total_balls = white_balls+black_balls+red_balls
p_white_ball = white_balls/total_balls
print(f'Probability of getting a white ball : {p_white_ball}')
p_wb_and_bb= p_white_ball*(black_balls/(total_balls-1))
print(f'Taking a white ball on first extraction and a black ball out on second extraction without replacing the first one is : {p_wb_and_bb}')
p_wb_and_bb_replacing = p_white_ball*(black_balls/(total_balls))
print(f'Taking a white ball on first extraction and a black ball out on second extraction replacing the first one is: {p_wb_and_bb_replacing}')
combinations = ((math.factorial(total_balls))/(math.factorial(3)*math.factorial(total_balls-3)))
probability = white_balls*red_balls*black_balls
all_different = probability/combinations
print (f'Taking 3 balls and them being all different colours is {all_different}')

Probability of getting a white ball : 0.3333333333333333
Taking a white ball on first extraction and a black ball out on second extraction without replacing the first one is : 0.09195402298850575
Taking a white ball on first extraction and a black ball out on second extraction replacing the first one is: 0.08888888888888888
Taking 3 balls and them being all different colours is 0.23645320197044334

## Challenge 2

You want to go on picnic on Saturday. You hate rain, and would know to plan your weekend. To help you make a decision, you gather the following data about rainy days:

* 40% of all days are cloudy.
* About 50% of cloudy days are rainy. 
* About 20% of non-cloudy days are rainy.

What is the chance of rain during next Saturday?

In [52]:
rainy = 0.4*0.5 + 0.6*0.2
print ( rainy)

0.32

## Challenge 3

A and B are events of a probability such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are true?  
**HINT: draw a big Venn Diagram by your side**  
* $P(\overline{A}) = 0.7$
* $P(A \cup B) = 0.6$
* $P(A \cap \overline{B}) = 0.2$
* $P(A \cup \overline{A}) = 1$  
* $P(A \cap (B \cup \overline{B})) = 0.4$
* $P(\overline{A} \cap \overline{B}) = 0.3$
* $P(\overline{A \cap B}) = 0.9$

In [ ]:
# 1. True

In [55]:
# 2. False
A_union_B = 0.3+0.6-0.1
A_union_B

0.7999999999999999

In [57]:
# 3. True
A = 0.3
NoB = 0.1
A_inter_B = 0.1
A_inter_NoB = A-A_inter_B
A_inter_NoB

0.19999999999999998

In [ ]:
#4. True
A = 0.3
NoA = 0.7

In [ ]:
#5. False 
# A interesecting with 1 is A, then 0.3

In [58]:
# 6. False 
 # this would be the oposite of the union of A and B

In [ ]:
# 7 . True 
# the oppostie of intersection

## Challenge 4

 * If someone flies to China, the probability of getting Covid is 1%  
 * If someone flies to Italy, the probability of getting Covid is 20%  

I roll 1 dice with numbers 1, 2, 3, 4, 5, 6:  
 * If 1: I fly to Italy
 * If not 1: I fly to China

During my trip, I got Covid. What is the probability that I flew to China?

In [61]:
# P (china | covid) = P(covid | china)* P(china)/ P(covid)
china_covid = (0.01*(5/6)*(5/6))/((0.01*5/6)+(0.2*1/6))
china_covid

0.16666666666666669

## BONUS

You roll 2 dice. What is the probability that the sum of the numbers is 7? And 8? And 9? Then simulate 10000 times and draw a countplot.

your explanation here

In [75]:
import random
import pandas as pd

In [79]:
sum_7 = ((1/6)*(1/6))*6
print('sumar 7: ', sum_7)
sum_8 = ((1/6)*(1/6))*5
print('sumar 8: ', sum_8)
sum_9 = ((1/6)*(1/6))*4
print('sumar 9: ', sum_9)

sumar 7:  0.16666666666666666
sumar 8:  0.1388888888888889
sumar 9:  0.1111111111111111

In [77]:
sample_space = [1,2,3,4,5,6]
throw = 10000

toss1= random.choices(sample_space,k=throw)
toss2= random.choices(sample_space,k=throw)

df = pd.DataFrame({'throw_1':toss1,'throw_2':toss2})

In [82]:
df['simulation']=df.apply(lambda x: x['throw_1']+ x['throw_2'],axis=1)

In [83]:
df

      throw_1  throw_2  simulation
0           6        6          12
1           2        4           6
2           4        4           8
3           6        4          10
4           1        6           7
...       ...      ...         ...
9995        6        4          10
9996        6        3           9
9997        5        4           9
9998        4        5           9
9999        2        3           5

[10000 rows x 3 columns]

In [85]:
df['simulation'].value_counts()

7     1711
6     1392
8     1350
5     1161
9     1108
4      833
10     820
11     539
3      536
12     276
2      274
Name: simulation, dtype: int64